@import '../core/variables';
@import "../components/arrow.scss";

.design {
  border-bottom: solid 1px rgb(2, 65, 2);
  margin: 27px 20px 10px 20px;
}

.fa-solid {
  color: rgba(177, 8, 8, 0.808);
}

.fa-angle-u {
  color: black;
}

.buttonDesign {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.buttonDesign__arrow {
  padding-right: 10px;

}

.buttonDesign__title {
  text-transform: uppercase;
  font-size: rem(18);
  font-family: $font-Open;
  font-weight: 700;
  color: $text;
  padding-left: 10px;
}

.boxDesignColorsLabel {
  display: flex;
  justify-content: flex-start;
  margin-left: 24px;
  align-items: center;
}

.colorsText {
  text-transform: uppercase;
  font-size: rem(14);
  font-family: $font-Open;
  font-weight: 700;
  color: #114e4e;
}

//MEDIA QUERIES

//TABLET

@media all and (min-width: 768px) {
  .boxDesignColorsLabel {
    margin-left: 8px;
  }
}